Binaries/*.*
desktop.ini
Releases/*.*
Build.lnk
Setup.lnk
Sources/Special/**/.vs/
Sources/Special/**/Debug/
Sources/Special/**/Release/
Sources/Special/**/packages/
Sources/Special/**/**/obj/
Sources/Special/**/**/bin/
