Binaries/
desktop.ini
Releases/
Utilities/Plugins/
Resources/Setup/Plugins/
Build.lnk
Setup.lnk
Sources/Special/**/.vs/
Sources/Special/**/Debug/
Sources/Special/**/Release/
Sources/Special/**/packages/
Sources/Special/**/**/obj/
Sources/Special/**/**/bin/
*.pubxml.user
*.pubxml
profile.arm.json
TeamServer.db
