# Auto detect text files and perform LF normalization
* text=auto
Resources/Splash[[:space:]]Images/Blancpain[[:space:]]2019.wav filter=lfs diff=lfs merge=lfs -text
Resources/Splash[[:space:]]Images/Blancpain[[:space:]]2019.gif filter=lfs diff=lfs merge=lfs -text
Blancpain*.wav filter=lfs diff=lfs merge=lfs -text
Blancpain*.gif filter=lfs diff=lfs merge=lfs -text
